firmware/build*/
firmware/managed_components/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/main/certs/*.crt
firmware/main/certs/*.pem
**/__pycache__/
*.pyc
*.FCStd1
*.FCBak
*.log
.env
.env.*
*.key
*.p12
*.pfx
*.bin
*.elf
*.map
